.array-container {
    display: flex;
    justify-content: center;
}
  
.array-bar {
    width: 3px;
    display: inline-block;
    margin: 0 1px;
}

.header {
    text-align: center;
    background-color: black;
    height: 120px;
    padding: 15px;
}

.title {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 30px;
    margin: 15px;
}

.visualizer {
    text-align: center;
}

body, ul {
    margin: 0;
    padding: 0;
}